#phone-contacts {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  background-color: var(--primary-color);
  color: var(--base-color);
  padding: 0.5rem 10rem;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 10rem;
  font-size: 1.5rem;
}

#logo-img {
  width: 10rem;
}

#nav-links {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  overflow: hidden;
}

#menu-icon {
  display: none;
}

.close-btn {
  display: none;
  font-weight: 500;
}

@media (max-width: 1000px) {
  #phone-contacts {
    gap: 2rem;
    padding: 0.5rem 5rem;
  }

  nav {
    padding: 0.5rem 5rem;
    font-size: 1.2rem;
  }

  #nav-links {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  #phone-contacts {
    gap: 1rem;
    padding: 0.5rem 1rem;
  }

  #logo-img {
    width: 7rem;
  }

  #menu-icon {
    display: block;
    font-size: 2.5rem;
    color: var(--secondary-color);
  }

  nav {
    align-items: center;
    padding: 1rem;
  }

  #nav-links {
    flex-direction: column;
    gap: 0;
  }
}

/* SUBMENUS */

.submenu {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--base-color);
  margin: 0;
  font-size: 1rem;
  padding: 0.15rem;
  z-index: 1;
}

.submenu li a:hover {
  color: var(--secondary-color);
}

#nav-links li:hover > .submenu {
  display: block;
}

.submenu li {
  position: relative;
  padding: 0.5rem 1rem;
}

.submenu .submenu {
  width: max-content;
  left: 100%;
  top: 0;
}

@media (max-width: 600px) {
  .submenu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--base-color);
    padding: 0;
    margin-left: 2rem;
    z-index: auto;
  }

  .submenu li a {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
  }

  #nav-links li:hover > .submenu {
    display: block;
  }

  .submenu li {
    position: relative;
    padding: 0;
  }

  .submenu .submenu {
    left: 100%;
    top: 0;
    margin-left: 0;
  }
}

/* SIDEBAR MENU MOBILE */

@media (max-width: 600px) {
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: var(--base-color);
    padding-top: 4rem;
  }

  .side-nav a {
    margin: 0 2rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
  }

  .overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.5s;
  }
}
